@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url("./assets/bg.webp");
    /* background-position: center;
    background-size: cover; */
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}